.btn {
  min-width: 160px;
  margin: 0 1em;

  &__reserva {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    border: 1px solid $color-white;
    color: $color-white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: inherit;
    line-height: normal;
    padding: 1em;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: background 0.2s;
    transition: all 0.3s;
    text-transform: uppercase;
  }

  &-pesquisa {
    color: silver;
    font-size: 1.7rem;
    float: right;
    text-decoration: none;
    align-items: center;
    margin-left: -2rem;
    background-color: #242629;
  }
}
