.u-center-text {
  text-align: center !important;
}
.center-position {
  align-self: center !important;
}

.u-margin-bottom-grande {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medio {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-pequeno {
  margin-bottom: 2rem !important;
}

.u-margin-left-pequeno {
  margin-left: 0.45rem !important;
}
.u-margin-left-pequeno-mais {
  margin-left: 2rem !important;
}
.u-margin-left-medio {
  margin-left: 4rem !important;
}
.u-margin-left-medio-mais {
  margin-left: 4.5rem !important;
}
.u-margin-left-grande {
  margin-left: 8rem !important;
}
.u-margin-left-extra {
  margin-left: 25.5rem !important;
}
.u-margin-left-grande-mais {
  margin-left: 32.5rem !important;
}

.u-margin-top-medio {
  margin-top: 4rem !important;
}
.u-margin-top-grande {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-right-medio-menos {
  margin-left: -2rem !important;
}

.u-margin-right-medio {
  margin-left: 4rem !important;
}
